body {
    font-family: 'Monaco', monospace;  
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
}

html {
    height: 100%;
    width: 100%;
}

svg, canvas {
    display: block;
    margin: auto;
}

.header {
    grid-area: header;
    justify-content: center;
    color: #f0f0f0; 
    background-color: #3A6B35;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, p {
    text-align: center;
}
