body {
    font-family: 'Monaco', monospace;  
    min-height: 100%;
    min-width: 100%;
    margin: 0px;
    background-color: #F7F6DC;
    color: #B20600;
}

html {
    height: 100%;
    width: 100%;
}

svg, canvas {
    display: block;
    margin: auto;
}

.header {
    grid-area: header;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3, p {
    text-align: center;
}
/* 
.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center 
    flex-flow: column wrap
}
.flexbox > div {
    flex: 1;
    display: flex;
} 
*/

.left-div {
    
    position: absolute;
    left: 0px;
    width: 50%;
  }
  
.right-div {
    position: absolute;
    right: 0px;
    width: 50%;
    
  }

.svg {
    width: 600px;
    height: 600px;
    position: absolute;
    left: 80px;
    top: 0px;
}

#svg-div {
    display: inline-block;
    height: 600px;
    width: 600px;
    position: relative;
}