
        body {
            font-family: 'Monaco', monospace;  
            min-height: 100%;
            min-width: 100%;
            margin: 0px;
            background-color: #F7F6DC;
            color: #B20600;
        }

        .header { 
            grid-area: header;
        }

        .left { 
            grid-area: left; 
        }

        .right { 
            grid-area: right; 
        }

        .footer { 
            grid-area: footer; 
        }

        .grid-container {
            display: grid;
            grid-template-areas:
                'header header'
                'left right'
                'footer footer';
        }

        .grid-container > div {
            background-color: #F7F6DC;
            text-align: center;
            padding: 0px;
        }

        #svg-div {
            display: inline-block;
            height: 500px;
            width: 500px;
            position: relative;
        }

        .svg {
            height: 500px;
            width: 500px;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        h2 {
            position: relative;


        }

        canvas, #svg-div {
            border: 20px solid #404040;
        }

        button {
            background-color: #404040;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 15px;
          }
        
        button:hover {
            background-color: #B20600;
            color: white;
          }

        @media only screen and (max-width: 1100px) {
            .grid-container {
                display: grid;
                grid-template-areas:
                    'header header'
                    'left left'
                    'right right'
                    'footer footer';
            }
        }
